  <header class="header">
  {{ if .IsHome }}
  <h1 class="logo">
    <a class="site-name" href="{{ `` | absURL }}">{{ site.Title }}</a>
  </h1>
  {{ end }}

  {{ $url := .RelPermalink }}<!---->
  {{ with site.Menus.main }}
  <nav class="menu">
    {{ range . }}
    <a class="{{ if eq .URL $url }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
  {{ end }}<!---->

  {{ with $.Scratch.Get "social-list" }}
  <nav class="social">
    {{ range . }}
    <a
      class="{{ . }}"
      style="--url: url(./{{ . }}.svg)"
      href="https://{{ . }}.com/{{ site.Params.Get . }}"
      target="_blank"
    ></a>
    {{ end }}
  </nav>
  {{ end }}
</header>
